{% macro header(is_page) %}
<div class="sticky top-0 bg-slate-100 dark:bg-slate-800" style="z-index: 100;">
    <div class="container mx-auto flex place-content-between
        py-16 lg:py-8 font-sans text-6xl lg:text-2xl text-slate-900
        dark:text-slate-300">
        <div class="flex">
            <a href="https://kari.boo/">
                <img src="/header_logo.png" alt="kariboo logo" width="20%">
            </a>
        </div>
        <div class="flex gap-4">
            <div id="back-to-top" class="hidden cursor-pointer">
                <i class="las la-level-up-alt"></i>
            </div>
        </div>
    </div>
</div>
{% endmacro head %}
